  <%= form_with(model: room, class: "contents") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul class="list-disc ml-6">
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "font-medium text-gray-700" %>
    <%= form.text_field :name, placeholder: 'Voting Very Important Issues', class: "block shadow-sm rounded-md border px-4 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600" %>
  </div>

  <div data-controller="slug-checker" class="my-5">
    <%= form.label :slug, class: "font-medium text-gray-700" %>
    <%= form.text_field :slug,
      data: { "slug-checker-target": "slug", action: "input->slug-checker#checkSlug"},
      placeholder: 'SoloqPatrickVrau', 
      class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600" %>
    <p class="mt-2 text-gray-500" data-slug-checker-target="status"></p>
  </div>

  <div class="flex items-center justify-center">
    <%= form.submit class: "w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg cursor-pointer transition-colors shadow-sm" %>
  </div>

<% end %>
